header {
	
	display: flex;
	align-items: center;
	background: @header-background;
	color: @gray-lighter;
	height: 60px;
	padding: 0px 15px;

	> * {

		margin: 0px !important;

	}

	h1 {

		font-size: 1.5em;
		flex: 1;

	}

	.form-group {

		flex: 0 1 25%;

	}

}