.product_rating {
	
	display: flex;
	margin-bottom: 15px;

	.star {
	 
	 	cursor: pointer;
		display: block;
		width: 25px;
		height: 25px;
		background: url('/img/stars-inactive.png') no-repeat center;

		&.active {

			background: url('/img/stars-active.png') no-repeat center;

		}

	}

}