.account_details {
	
	.loader {

		height: 50px;
		background: url('/img/ajax-loader.gif') no-repeat center;

	}

	.heading {

		height: 50px;
		border-bottom: 1px solid @border-color;

		h2 {

			margin: 0px;
			font-size: 1.75em;
			line-height: 50px;

		}

	}

	.account {

		.boxes {

			.box {

				border-bottom: 1px solid @border-color;

				.box_details {

					padding: 30px 0px;
					font-size: 1.2em;

				}

				.products {

					background: @alt-background;

					.product {

						display: flex;
						flex-wrap: wrap;
						padding: 30px;
						border-bottom: 1px solid @border-color;

						&:last-child {

							border-bottom: none;

						}

						> * {

							flex: 1 0 auto

						}

						.product_image {

							max-width: 50%;

							img {

								width: 100%;

							}

						}

					}

				}


			}	

		}

	}
	
}